@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Trash Panda Central</h1>
    <img src="https://cdn-prod.servicemaster.com/-/media/Feature/Terminix/Blogs/raccoon-proof-garbage-can.jpg?rev=5d51795be5994bd5bab3e07635addfb6&h=667&w=1000&la=en&hash=DDE2067D31733EB0AE044F50485722C3"/>
    <h2>For all your waste-related needs</h2>
</div>
