
@{
    ViewBag.Title = "Make A Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Make A Payment</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Customer" asp-action="MakePayment" method="post">
            <span> Please enter the amount to pay: </span> <input id="Payment" type="text" name="custPayment" /> <br /><br />
            <input id="Submit" type="submit" value="custPayment" />
        </form>

        <h2>@ViewBag.SumResult</h2>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
