@model TrashCollectorProj.Models.Customer

@{
    ViewData["Title"] = "MakePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Make A Payment</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TrashFees" class="control-label"></label>
                <input asp-for="TrashFees" class="form-control" />
                <span asp-validation-for="TrashFees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
