@model TrashCollectorProj.Models.Customer

@{
    ViewData["Title"] = "ScheduleExtraPickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Schedule an Extra Pickup</h1>

<h4>Please enter the date of your 1-time extra pickup (We will convert this to a DatePicker form) </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ScheduleExtraPickup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExtraPickupDate" class="control-label"></label>
                <input asp-for="ExtraPickupDate" class="form-control" />
                <span asp-validation-for="ExtraPickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
