@String.Format("{0:d}", Model.Date)

    <span class="loud-1">
        @String.Format("{0:d}", Model.Date)
    </span>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
